<h1><%=@outing.name%></h1>
<p>Location: <%=@outing.location%></p>
<p>Date: <%=@outing.date%></p>
<p>Count of Contestants: <%=@outing.count_contestants%></p>
Contestants: <% @contestants.each do |contestant| %>
    <li><%=contestant.name%></li>
<% end %>
